<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLACK & WHITE</title>
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <!-- Generate SVG -->
    <!-- {% include 'svg.html' %} -->
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="icon-black-white" viewBox="0 0 264 32">
            <title>black-white</title>
            <path d="M15.681 29.038c0 1.975-0.987 2.904-2.904 2.904h-12.777v-31.942h12.661c1.917 0 2.846 0.987 2.846 2.962v8.247c0 1.103-0.348 1.916-1.045 2.555-0.116 0.058-0.929 0.581-2.497 1.568 1.626 0.987 2.497 1.51 2.555 1.626 0.755 0.639 1.103 1.51 1.103 2.613v9.466zM10.744 11.731v-7.724h-5.982v9.35h3.659l2.323-1.626zM10.86 27.935v-9.118l-2.323-1.568h-3.775v10.686h6.098z"></path>
            <path d="M36.181 31.942h-12.544v-31.942h4.762v27.702h7.782v4.24z"></path>
            <path d="M59.412 31.942h-4.762l-0.987-6.040h-5.982l-0.929 6.040h-4.704v-0.058l6.156-31.942h4.995l6.214 32zM53.024 21.779l-2.323-14.403-2.323 14.403h4.646z"></path>
            <path d="M81.946 29.038c0 1.975-0.987 2.904-2.904 2.904h-9.989c-1.916 0-2.846-0.987-2.846-2.904v-26.076c0-1.975 0.929-2.962 2.846-2.962h9.989c1.975 0 2.904 0.987 2.904 2.962v7.492h-4.762v-6.33h-6.214v23.753h6.214v-6.737h4.762v7.898z"></path>
            <path d="M105.989 31.942h-5.285l-6.040-14.229v14.229h-4.762v-31.942h4.762v13.532l5.343-13.532h5.227v0.232l-6.505 15.158 7.26 16.552z"></path>
            <path d="M142.461 17.365h-2.265v14.577h-12.544c-1.916 0-2.904-0.987-2.904-2.904v-9.699c0-1.045 0.348-1.858 1.045-2.439 0.813-0.523 1.626-1.103 2.381-1.626-0.755-0.523-1.568-1.045-2.323-1.568-0.697-0.581-1.045-1.394-1.045-2.381v-8.421c0-1.917 0.987-2.904 2.904-2.904h9.699c1.917 0 2.904 0.987 2.904 2.904v6.621h-4.704v-5.517h-6.040v7.724l2.149 1.51h10.686v4.123zM135.55 27.935v-10.57h-3.891l-2.207 1.568v9.002h6.098z"></path>
            <path d="M185.844 0l-4.646 32h-4.704l-2.846-18.12c0-0.639-0.058-1.626-0.174-2.904 0 0.639-0.058 1.626-0.174 2.904l-2.846 18.12h-4.704l-4.646-32h4.82l2.497 18.933c0.058 0.639 0.116 1.626 0.174 2.904 0-0.639 0.058-1.626 0.174-2.904l2.788-18.933h3.949l2.73 18.933c0.058 0.639 0.116 1.626 0.174 2.904 0-0.639 0.058-1.626 0.174-2.904l2.439-18.933h4.82z"></path>
            <path d="M208.784 31.942h-4.82v-14.345h-6.446v14.345h-4.762v-31.942h4.762v13.183h6.446v-13.183h4.82v31.942z"></path>
            <path d="M221.619 31.942h-4.762v-31.942h4.762v31.942z"></path>
            <path d="M243.63 4.24h-5.285v27.702h-4.762v-27.702h-5.285v-4.24h15.274v4.24z"></path>
            <path d="M263.492 31.942h-13.241v-31.942h13.125v4.24h-8.363v9.35h7.201v4.123h-7.201v10.047h8.479v4.181z"></path>
            </symbol>
        </defs>
    </svg>

    <section class="top">
        <header class="header">
            <nav class="header__col nav">
                <a href="#" class="nav__item"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="nav__item"><i class="fa fa-twitter"></i></a>
                <a href="#" class="nav__item"><i class="fa fa-behance-square"></i></a>
                <a href="#" class="nav__item"><i class="fa fa-vimeo-square"></i></a>
                <a href="#" class="nav__item"><i class="fa fa-linkedin-square"></i></a>
            </nav>
            <div class="header__col wrap-logo">
                <a href="/">
                    <svg class="wrap-logo__logo"><use xlink:href="#icon-black-white"></use></svg>
                </a>
            </div>
            <menu class="header__col menu">
                <li class="menu__item menu-item">
                    <a href="#" class="menu-item__link">Home</a>
                </li>
                <li class="menu__item menu-item">
                    <a href="#" class="menu-item__link">Works</a>
                </li>
                <li class="menu__item menu-item">
                    <a href="#" class="menu-item__link">About</a>
                </li>
                <li class="menu__item menu-item">
                    <a href="#" class="menu-item__link">Articles</a>
                </li>
                <li class="menu__item menu-item">
                    <a href="#" class="menu-item__link">Contact</a>
                </li>
            </menu>
        </header>
    </section>

    <div class="contant">
        <section class="works">
            <div class="works__item">
                <a href="#" class="works__item__link">
                    <div class="works-item-top">
                        <div class="works-block-info">
                            <h4 class="works-block-info__title">Awesome Day</h4>
                            <p class="works-block-info__text">View from above</p>
                        </div>
                        <div class="works-block-info">
                            <strong class="works-block-info__month">Jun</strong>
                            <span class="works-block-info__date">25th</span>
                        </div>
                    </div>
                    <img src="images/works/photo1.png" alt="Photo" class="">
                </a>
                <div class="works-item-bottom">
                    <span class="works-item-bottom__like">
                        <i class="fa fa-heart"></i>
                        21
                    </span>
                    <span class="works-item-bottom__message">
                        <i class="fa fa-comments"></i>
                        2
                    </span>
                    <span class="works-item-bottom__zoom">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                </div>
            </div>
            <div class="works__item">
                <a href="#" class="works__item__link">
                    <div class="works-item-top">
                        <div class="works-block-info">
                            <h4 class="works-block-info__title">Awesome Day</h4>
                            <p class="works-block-info__text">View from above</p>
                        </div>
                        <div class="works-block-info">
                            <strong class="works-block-info__month">Jun</strong>
                            <span class="works-block-info__date">25th</span>
                        </div>
                    </div>
                    <img src="images/works/photo2.png" alt="Photo" class="">
                </a>
                <div class="works-item-bottom">
                    <span class="works-item-bottom__like">
                        <i class="fa fa-heart"></i>
                        23
                    </span>
                    <span class="works-item-bottom__message">
                        <i class="fa fa-comments"></i>
                        23
                    </span>
                    <span class="works-item-bottom__zoom">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                </div>
            </div>
            <div class="works__item">
                <a href="#" class="works__item__link">
                    <div class="works-item-top">
                        <div class="works-block-info">
                            <h4 class="works-block-info__title">Awesome Day</h4>
                            <p class="works-block-info__text">View from above</p>
                        </div>
                        <div class="works-block-info">
                            <strong class="works-block-info__month">Jun</strong>
                            <span class="works-block-info__date">25th</span>
                        </div>
                    </div>
                    <img src="images/works/photo3.png" alt="Photo" class="">
                </a>
                <div class="works-item-bottom">
                    <span class="works-item-bottom__like">
                        <i class="fa fa-heart"></i>
                        82
                    </span>
                    <span class="works-item-bottom__message">
                        <i class="fa fa-comments"></i>
                        1
                    </span>
                    <span class="works-item-bottom__zoom">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                </div>
            </div>
            <div class="works__item">
                <a href="#" class="works__item__link">
                    <div class="works-item-top">
                        <div class="works-block-info">
                            <h4 class="works-block-info__title">Awesome Day</h4>
                            <p class="works-block-info__text">View from above</p>
                        </div>
                        <div class="works-block-info">
                            <strong class="works-block-info__month">Jun</strong>
                            <span class="works-block-info__date">25th</span>
                        </div>
                    </div>
                    <img src="images/works/photo4.png" alt="Photo" class="">
                </a>
                <div class="works-item-bottom">
                    <span class="works-item-bottom__like">
                        <i class="fa fa-heart"></i>
                        63
                    </span>
                    <span class="works-item-bottom__message">
                        <i class="fa fa-comments"></i>
                        100
                    </span>
                    <span class="works-item-bottom__zoom">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                </div>
            </div>
            <div class="works__item">
                <a href="#" class="works__item__link">
                    <div class="works-item-top">
                        <div class="works-block-info">
                            <h4 class="works-block-info__title">Awesome Day</h4>
                            <p class="works-block-info__text">View from above</p>
                        </div>
                        <div class="works-block-info">
                            <strong class="works-block-info__month">Jun</strong>
                            <span class="works-block-info__date">25th</span>
                        </div>
                    </div>
                    <img src="images/works/photo5.png" alt="Photo" class="">
                </a>
                <div class="works-item-bottom">
                    <span class="works-item-bottom__like">
                        <i class="fa fa-heart"></i>
                        27
                    </span>
                    <span class="works-item-bottom__message">
                        <i class="fa fa-comments"></i>
                        23
                    </span>
                    <span class="works-item-bottom__zoom">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                </div>
            </div>
            <div class="works__item">
                <a href="#" class="works__item__link">
                    <div class="works-item-top">
                        <div class="works-block-info">
                            <h4 class="works-block-info__title">Awesome Day</h4>
                            <p class="works-block-info__text">View from above</p>
                        </div>
                        <div class="works-block-info">
                            <strong class="works-block-info__month">Jun</strong>
                            <span class="works-block-info__date">25th</span>
                        </div>
                    </div>
                    <img src="images/works/photo6.png" alt="Photo" class="">
                </a>
                <div class="works-item-bottom">
                    <span class="works-item-bottom__like">
                        <i class="fa fa-heart"></i>
                        2
                    </span>
                    <span class="works-item-bottom__message">
                        <i class="fa fa-comments"></i>
                        6
                    </span>
                    <span class="works-item-bottom__zoom">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                </div>
            </div>
            <div class="works__item">
                <a href="#" class="works__item__link">
                    <div class="works-item-top">
                        <div class="works-block-info">
                            <h4 class="works-block-info__title">Awesome Day</h4>
                            <p class="works-block-info__text">View from above</p>
                        </div>
                        <div class="works-block-info">
                            <strong class="works-block-info__month">Jun</strong>
                            <span class="works-block-info__date">25th</span>
                        </div>
                    </div>
                    <img src="images/works/photo7.png" alt="Photo" class="">
                </a>
                <div class="works-item-bottom">
                    <span class="works-item-bottom__like">
                        <i class="fa fa-heart"></i>
                        27
                    </span>
                    <span class="works-item-bottom__message">
                        <i class="fa fa-comments"></i>
                        23
                    </span>
                    <span class="works-item-bottom__zoom">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                </div>
            </div>
            <div class="works__item">
                <a href="#" class="works__item__link">
                    <div class="works-item-top">
                        <div class="works-block-info">
                            <h4 class="works-block-info__title">Awesome Day</h4>
                            <p class="works-block-info__text">View from above</p>
                        </div>
                        <div class="works-block-info">
                            <strong class="works-block-info__month">Jun</strong>
                            <span class="works-block-info__date">25th</span>
                        </div>
                    </div>
                    <img src="images/works/photo8.png" alt="Photo" class="">
                </a>
                <div class="works-item-bottom">
                    <span class="works-item-bottom__like">
                        <i class="fa fa-heart"></i>
                        27
                    </span>
                    <span class="works-item-bottom__message">
                        <i class="fa fa-comments"></i>
                        23
                    </span>
                    <span class="works-item-bottom__zoom">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                </div>
            </div>
        </section>

        <section class="about">
            <article class="info">
                <h2 class="info__title">A Picture Is Worth A Thousand Words</h2>
                <p class="info__text">People peter griffin high school mom bra just avenger le me students friendzoned challenge accepted. True Story face troll finals derpina cereal guy lose back final week yao male. Not bad luke feel like a sir bacon pizza coffee a the avengers puking rainbows nyan cat search.</p>
                <a href="#" class="info__btn">learn more about us</a>
            </article>
        </section>


        <section class="blog">
            <div class="blog__col blog__col--first">
                <article class="article">
                    <div class="article__col article__col--first article-contant">
                        <div class="article-desc">
                            <p class="article-desc__name">A Picture Is Worth A Thousand Words</p>
                            <span class="article-desc__data">01/17/2014</span>
                            <span class="article-desc__time">8 minutes read <i class="fa fa-bookmark"></i></span>
                        </div>
                        <h2 class="article-contant__title">
                            <a href="#" class="article-contant__title__link">A Picture Is Worth A Thousand Words</a>
                        </h2>
                        <div class="article-info">
                            <div class="article-info__col article-info-photo">
                                <img src="images/articles/img1.png" class="article-info-photo__img" alt="Photo">
                                <span class="article-info-photo__name">Flight over the country - 2014</span>
                            </div>
                            <div class="article-info__col article-info-description">
                                <p>Dad blizzard coffee unsave facepalm face feel like a sir
                                    tank mother aww yeah. Anonymous easter puking rainbows bear
                                    wodka simpson amnesia read cookie monster final week grey.
                                    Mom hammer creepy me gusta morbi eat le friend steve jobs
                                    cellphone clinton cereal guy. Good guy high school on okay a
                                    bacon homework in joke dog. Not Okay if you know what i mean
                                    nap monocle oh stop it, you pizza diablo 3 captain on weekend
                                    elephant. I Dont Get It drink ba dumm tss amet basic math female
                                    phone gentlemen strangers.
                                </p>
                            </div>
                        </div>
                    </div>

                    <aside class="article__col author">
                        <div class="author__col author-info">
                            <h4 class="author-info__title">Author</h4>
                            <span class="author-info__name">John Doe</span>
                        </div>
                        <div class="author__col author-photo">
                            <img src="http://lorempixel.com/100/100/people/" class="author-photo__img" alt="Photo">
                        </div>
                        <nav class="author__col author-links">
                            <a href="#" class="author-links__item"><i class="fa fa-link"></i></a>
                            <a href="#" class="author-links__item"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="author-links__item"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="author-links__item"><i class="fa fa-google-plus"></i></a>
                        </nav>
                    </aside>
                </article>

                <article class="article">
                    <div class="article__col article__col--first article-contant">
                        <div class="article-desc">
                            <p class="article-desc__name">A Picture Is Worth A Thousand Words</p>
                            <span class="article-desc__data">01/17/2014</span>
                            <span class="article-desc__time">8 minutes read <i class="fa fa-bookmark"></i></span>
                        </div>
                        <h2 class="article-contant__title">
                            <a href="#" class="article-contant__title__link">Trip To New York Was Awesome</a>
                        </h2>
                        <div class="article-info">
                            <div class="article-info__col article-info-photo">
                                <img src="images/articles/img2.png" class="article-info-photo__img" alt="Photo">
                                <span class="article-info-photo__name">Flight over the country - 2014</span>
                            </div>
                            <div class="article-info__col article-info-description">
                                <p>Dad blizzard coffee unsave facepalm face feel like a sir
                                    tank mother aww yeah. Anonymous easter puking rainbows bear
                                    wodka simpson amnesia read cookie monster final week grey.
                                    Mom hammer creepy me gusta morbi eat le friend steve jobs
                                    cellphone clinton cereal guy. Good guy high school on okay a
                                    bacon homework in joke dog. Not Okay if you know what i mean
                                    nap monocle oh stop it, you pizza diablo 3 captain on weekend
                                    elephant. I Dont Get It drink ba dumm tss amet basic math female
                                    phone gentlemen strangers.
                                </p>
                            </div>
                        </div>
                    </div>

                    <aside class="article__col author">
                        <div class="author__col author-info">
                            <h4 class="author-info__title">Author</h4>
                            <span class="author-info__name">John Doe</span>
                        </div>
                        <div class="author__col author-photo">
                            <img src="http://lorempixel.com/100/100/sports/" class="author-photo__img" alt="Photo">
                        </div>
                        <nav class="author__col author-links">
                            <a href="#" class="author-links__item"><i class="fa fa-link"></i></a>
                            <a href="#" class="author-links__item"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="author-links__item"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="author-links__item"><i class="fa fa-google-plus"></i></a>
                        </nav>
                    </aside>
                </article>
            </div>

            <div class="blog__col wrap-aside">
                <aside class="aside-right">
                    <h3 class="aside-right__title">Categorys</h3>
                    <div class="wrap-list">
                        <span class="wrap-list__btn">
                            <i class="fa fa-caret-down"></i>
                            Traveling (9)
                        </span>
                        <ul class="list">
                            <li class="list__item">
                                <i class="fa fa-caret-right"></i>
                                <a href="#" class="list__item__link">A Picture is Worth A (..)</a>
                            </li>
                            <li class="list__item">
                                <i class="fa fa-caret-right"></i>
                                <a href="#" class="list__item__link">Trip to New York City was (..)</a>
                            </li>
                            <li class="list__item">
                                <i class="fa fa-caret-right"></i>
                                <a href="#" class="list__item__link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, natus.</a>
                            </li>
                            <!-- <li class="list__item">Lifestyle (4)</li>
                            <li class="list__item">Fashion (414)</li> -->
                        </ul>
                    </div>
                </aside>

                <aside class="aside-right">
                    <h3 class="aside-right__title">Archive</h3>
                    <div class="wrap-list">
                        <span class="wrap-list__btn">
                            <i class="fa fa-caret-down"></i>
                            January (9)
                        </span>
                        <ul class="list">
                            <li class="list__item">
                                <i class="fa fa-caret-right"></i>
                                <a href="#" class="list__item__link">A Picture is Worth A (..)</a>
                            </li>
                            <li class="list__item">
                                <i class="fa fa-caret-right"></i>
                                <a href="#" class="list__item__link">Trip to New York City was (..)</a>
                            </li>
                            <!-- <li class="list__item">Lifestyle (4)</li>
                            <li class="list__item">Fashion (414)</li> -->
                        </ul>
                    </div>
                </aside>
            </div>
        </section>


        <section class="contact">
            <div class="contact__col">
                <form action="" class="contact-form">
                    <h3 class="contact-form__title">Contact Me</h3>
                    <p class="contact-form__text">Mom hammer creepy me gusta morbi eat le friend steve jobs cellphone clinton cereal guy.</p>
                    <div class="block-input">
                        <input type="text" class="block-input__input" placeholder="Your name">
                        <span class="block-input__error">*required</span>
                    </div>
                    <div class="block-input">
                        <input type="email" class="block-input__input" placeholder="Your E-Mail Address">
                        <span class="block-input__error">*please enter a valid address</span>
                    </div>
                    <textarea name="name" placeholder="Your Message" class="contact-form__textarea"></textarea>
                    <button type="submit" name="" class="contact-form__submit">send e-mail</button>
                </form>
            </div>

            <div class="contact__col">
                <div class="wrap-posts">
                    <div class="post">
                        <h3 class="post__title">
                            <a href="#" class="post__title__link">Random Post</a>
                        </h3>
                        <img src="images/posts/img1.png" class="post__img" alt="Photo">
                        <p class="post__text">Some advise on Photography</p>
                    </div>
                    <div class="post">
                        <h3 class="post__title">
                            <a href="#" class="post__title__link">Random Post</a>
                        </h3>
                        <img src="images/posts/img2.png" class="post__img" alt="Photo">
                        <p class="post__text">Some advise on Photography</p>
                    </div>
                </div>
                <form action="" class="subscribe-form">
                    <svg class="subscribe-form__logo"><use xlink:href="#icon-black-white"></use></svg>
                    <h3 class="subscribe-form__title">Newsletter</h3>
                    <input type="email" class="subscribe-form__input" placeholder="Your E-Mail Address">
                    <button type="submit" name="" class="subscribe-form__submit">subscribe</button>
                </form>
            </div>
        </section>
    </div>

    <section class="bottom">
        <footer class="footer">
            <nav class="footer__col nav">
                <a href="#" class="nav__item"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="nav__item"><i class="fa fa-twitter"></i></a>
                <a href="#" class="nav__item"><i class="fa fa-behance-square"></i></a>
                <a href="#" class="nav__item"><i class="fa fa-vimeo-square"></i></a>
                <a href="#" class="nav__item"><i class="fa fa-linkedin-square"></i></a>
            </nav>
            <div class="footer__col wrap-logo">
                <svg class="wrap-logo__logo"><use xlink:href="#icon-black-white"></use></svg>
            </div>
            <div class="footer__col copyright">
                © 2017 Developer Nazar Hamuliak.
            </div>
        </footer>
    </section>

</body>
</html>
