<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-black-white" viewBox="0 0 264 32">
        <title>black-white</title>
        <path d="M15.681 29.038c0 1.975-0.987 2.904-2.904 2.904h-12.777v-31.942h12.661c1.917 0 2.846 0.987 2.846 2.962v8.247c0 1.103-0.348 1.916-1.045 2.555-0.116 0.058-0.929 0.581-2.497 1.568 1.626 0.987 2.497 1.51 2.555 1.626 0.755 0.639 1.103 1.51 1.103 2.613v9.466zM10.744 11.731v-7.724h-5.982v9.35h3.659l2.323-1.626zM10.86 27.935v-9.118l-2.323-1.568h-3.775v10.686h6.098z"></path>
        <path d="M36.181 31.942h-12.544v-31.942h4.762v27.702h7.782v4.24z"></path>
        <path d="M59.412 31.942h-4.762l-0.987-6.040h-5.982l-0.929 6.040h-4.704v-0.058l6.156-31.942h4.995l6.214 32zM53.024 21.779l-2.323-14.403-2.323 14.403h4.646z"></path>
        <path d="M81.946 29.038c0 1.975-0.987 2.904-2.904 2.904h-9.989c-1.916 0-2.846-0.987-2.846-2.904v-26.076c0-1.975 0.929-2.962 2.846-2.962h9.989c1.975 0 2.904 0.987 2.904 2.962v7.492h-4.762v-6.33h-6.214v23.753h6.214v-6.737h4.762v7.898z"></path>
        <path d="M105.989 31.942h-5.285l-6.040-14.229v14.229h-4.762v-31.942h4.762v13.532l5.343-13.532h5.227v0.232l-6.505 15.158 7.26 16.552z"></path>
        <path d="M142.461 17.365h-2.265v14.577h-12.544c-1.916 0-2.904-0.987-2.904-2.904v-9.699c0-1.045 0.348-1.858 1.045-2.439 0.813-0.523 1.626-1.103 2.381-1.626-0.755-0.523-1.568-1.045-2.323-1.568-0.697-0.581-1.045-1.394-1.045-2.381v-8.421c0-1.917 0.987-2.904 2.904-2.904h9.699c1.917 0 2.904 0.987 2.904 2.904v6.621h-4.704v-5.517h-6.040v7.724l2.149 1.51h10.686v4.123zM135.55 27.935v-10.57h-3.891l-2.207 1.568v9.002h6.098z"></path>
        <path d="M185.844 0l-4.646 32h-4.704l-2.846-18.12c0-0.639-0.058-1.626-0.174-2.904 0 0.639-0.058 1.626-0.174 2.904l-2.846 18.12h-4.704l-4.646-32h4.82l2.497 18.933c0.058 0.639 0.116 1.626 0.174 2.904 0-0.639 0.058-1.626 0.174-2.904l2.788-18.933h3.949l2.73 18.933c0.058 0.639 0.116 1.626 0.174 2.904 0-0.639 0.058-1.626 0.174-2.904l2.439-18.933h4.82z"></path>
        <path d="M208.784 31.942h-4.82v-14.345h-6.446v14.345h-4.762v-31.942h4.762v13.183h6.446v-13.183h4.82v31.942z"></path>
        <path d="M221.619 31.942h-4.762v-31.942h4.762v31.942z"></path>
        <path d="M243.63 4.24h-5.285v27.702h-4.762v-27.702h-5.285v-4.24h15.274v4.24z"></path>
        <path d="M263.492 31.942h-13.241v-31.942h13.125v4.24h-8.363v9.35h7.201v4.123h-7.201v10.047h8.479v4.181z"></path>
        </symbol>
    </defs>
</svg>
