
// @media screen and (max-width: 957px) {
//     .works {
//         &__item {
//             &:nth-child(3n + 3) {
//                 margin-right: 0;
//             }
//         }
//     }
// }

@media screen and (max-width: 992px) {
    .works {
        &__item {
            margin: 0 26px 24px 0;
            flex-basis: (100% / 5.5);
        }
    }
}

@media screen and (max-width: 768px) {
    .wrap-logo {
        flex-basis: 100%;
        order: -1;
    }
    .nav {flex-basis: 20%;}

    .works {
        justify-content: space-around;
        &__item {
            margin: 0 26px 24px 0;
            flex-basis: 44.4%;
            &:nth-child(2n + 2) {
                margin-right: 0;
            }
        }
    }

    //Blog ---> Article
    .article-contant {
        &__title {
            text-align: center;
        }
    }
    .article {
        &__col {
            flex-basis: 100%;
        }
    }
    .article-desc {
        text-align: center;
        &__time {
            display: none;
            opacity: 0;
            visibility: hidden;
        }
    }
    .article-info-photo {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    aside.author {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__col {
            display: block;
            flex-basis: 20%;
        }
    }
    .author-photo {
        margin: 0 20px;
    }
    .author-links {
        flex-direction: row;
        flex-basis: 40%;
        &__item {
            margin: 0 5%;
        }
    }

    .wrap-aside {
        flex-direction: row;
        order: -1;
        flex-basis: 100%;
    }
    .aside-right {
        margin: 0 auto 30px;
        max-width: 260px;
        min-width: 260px;
        width: 100%;
    }

    //----------blog---------END--articleS-->

    .contact__col {
        flex-basis: 100%;
    }
    .contact-form {max-width: inherit;}
    .wrap-posts {
        justify-content: space-around;
    }
    .post {
        margin-left: 15px;
        &:first-child {
            margin-left: 0;
        }
    }
    .subscribe-form {margin-left: 0;}
}

@media screen and (max-width: 480px) {
    .header {
        &__col {
            flex-basis: 100%;
            justify-content: center;
        }
    }
    .works {
        &__item {
            margin: 0 0 24px 0;
            flex-basis: 100%;
        }
    }

    //Blog --
    .author-links {
        flex-basis: 100%;
        justify-content: center;
    }

    //Footer
    .footer {
        &__col {
            flex-basis: 100%;
            justify-content: center;
        }
    }
    .copyright {text-align: center;}
}
