//Static classes for tags

.container {
    max-width: 1165px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    flex-flow: row wrap;
}

.flex {
    flex: 1 1 100%;
}

.lh {
    line-height: 150%;
}

.title-text {
    font-size: 28px;
    color: #000;
}

.link-button {
    width: 195px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: $bgButton;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 100;
    letter-spacing: 1px;
    transition: all .2s linear;
    cursor: pointer;
    border-color: $bgButton;
    &:hover {
        letter-spacing: 2px;
    }
}

.main-border {
    border: 1px solid $inputBorderColor;
    box-sizing: border-box;
}

.img-border {
    border: 5px solid #f0f0f0;
    box-sizing: border-box;
}

.field {
    background: $bgIpnutField;
    border: 1px solid $inputBorderColor;
    height: 45px;
    width: 100%;
    max-width: 320px;
    padding: 0px 30px;
    outline: none;
    font-family: Arial;
    font-size: 14px;
    line-height: 45px;
    box-sizing: border-box;
    transition: border .4s ease-in-out;
    &:hover, &:focus {
        border-color: #9c9c9c;
    }
}

.header-title-hover {
    transition: all .1s linear;
    &:hover {
        color: $pink;
    }
}
