// Define colors
$mainBg: #dededc;
$orange: #f2ba59;
$pink: #e6618c;
$bgIpnutField: #f2f2f2;
$inputBorderColor: #d6d6d6;
$bgButton: #202020;
$borderColor: #f6f6f6;
$socialsColor: #a0a1a5;

$height60: 60px;
