@import "reset";
@import "variables";
@import "static";
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400&subset=cyrillic,latin-ext');

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: url(../../images/main_background.png) no-repeat center top 0 / cover $mainBg;
}

.top {
    height: 140px;
    background: #fff;
}

.header {
    @extend .container, .display-flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    &__col {
        @extend .flex;
        flex-basis: (100% / 3);
    }
}

.nav {
    @extend .display-flex;
    &__item {
        width: 20px;
        height: 20px;
        display: block;
        font-size: 23px;
        margin-left: 17px;
        color: $socialsColor;
        &:first-child {
            margin: 0 0;
        }
        &:hover {
            transition: color .2s ease-in;
            color: $pink;
        }
    }
}

.wrap-logo {
    text-align: center;
    &__logo {
        width: 200px;
        height: 25px;
        fill: black;
    }
}

.menu {
    @extend .display-flex;
    justify-content: flex-end;
    &__item {
        font-size: 18px;
        margin-right: 17px;
        &:last-child {
            margin: 0 0;
        }
    }
    .menu-item {
        &__link {
            color: #000;
            &:hover {
                transition: color .2s ease-in;
                color: $pink;
            }
        }
    }
}

// CONTANT
.contant {
    @extend .container;
}

//WORKS
.works {
    margin-top: 58px;
    @extend .display-flex;
    justify-content: space-between;
    &__item {
        max-width: 265px;
        max-height: 265px;
        display: flex;
        @extend .flex;
        flex-basis: 195px;
        margin: 0 46px 34px 0;
        position: relative;
        overflow: hidden;
        &:nth-child(4n + 4) {
            margin-right: 0;
        }
        &__link {
            @extend .img-border;
            position: relative;
        }
        img {
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
            transition: filter .3s ease;
        }
        &:hover {
            .works-item-top {top: 0; bottom: inherit; transform: scale(1);}
            .works-item-bottom {bottom: 0; top: inherit; transform: scale(1);}
            img {
                filter: grayscale(0);
            }
        }
    }
}
.works-item-top {
    position: absolute;
    left: 0;
    top: -$height60;
    transform: scale(0);
    z-index: 2;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    @extend .display-flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    font-family: Arial;
    overflow: hidden;
    max-height: 60px;
    transition: all .25s ease-out;
}
.works-block-info {
    display: flex;
    flex-direction: column;
    &__title, &__month {
        font-size: 14px;
        font-weight: bold;
    }
    &__text, &__date {
        font-size: 13px;
    }
}

.works-item-bottom {
    @extend .works-item-top;
    top: inherit;
    bottom: -$height60;
    background: #fff;
    color: #9f9d9b;
    font-size: 13px;
    min-height: 60px;
    align-items: center;
    &__like, &__messsage {
        margin-right: 15px;
    }
    .fa {
        color: $pink;
        margin-right: 4px;
    }
    &__zoom {
        cursor: pointer;
        flex-grow: 3;
        text-align: right;
        font-size: 14px;
        .fa {
            color: #000;
            margin-right: 0;
            &:hover {color: $pink;}
        }
    }
}


//ABOUT
.about {
    background: #fff;
    @extend .display-flex, .main-border;
    justify-content: center;
    margin-top: 30px;
}

.info {
    width: 100%;
    max-width: 590px;
    text-align: center;
    @extend .display-flex;
    flex-direction: column;
    font-size: 18px;
    color: #000;
    padding: 74px 20px;
    &__title {
        @extend .title-text, .lh;
    }
    &__text {
        margin: 35px 0 45px;
        @extend .lh;
        font-family: Arial;
    }
    &__btn {
        @extend .link-button;
    }
}

//BLOG ---> ARTICLES
.blog {
    @extend .display-flex;
    justify-content: space-between;
    margin-top: 60px;
    &__col {
        @extend .flex;
        flex-basis: 20%;
        &--first {
            flex-basis: 60%;
        }
    }
}

.article {
    @extend .display-flex, .main-border;
    justify-content: space-between;
    background: #fff;
    padding: 50px 30px;
    margin-bottom: 28px;
    &__col {
        @extend .flex;
        flex-basis: 10%;
        &--first {
            flex-basis: 80%;
            max-width: 660px;
        }
    }
}

.article-contant {
    &__title {
        @extend .title-text;
        margin-bottom: 25px;
        &__link {
            @extend .header-title-hover;
        }
    }
}

//Article top part
.article-desc {
    font-size: 14px;
    font-family: Arial;
    color: #989b9f;
    margin-bottom: 20px;
    @extend .display-flex;
    &__time {
        flex: 1 1 5%;
        text-align: right;
        opacity: 1;
        display: block;
        visibility: visible;
    }
}
//Article bottom part
.article-info {
    @extend .display-flex;
    &__col {
        @extend .flex;
    }
}

.article-info-photo {
    margin-right: 30px;
    flex-basis: 30%;
    &__img {
        @extend .img-border;
        width: 100%;
        // height: 100%;
        max-width: 230px;
        max-height: 230px;
    }
    &__name {
        display: block;
        font-family: Arial;
        font-size: 12px;
        margin-top: 15px;
        color: #6c6e72;
    }
}
.article-info-description {
    flex-basis: 60%;
    font-family: Arial;
    font-size: 14px;
    @extend .lh;
}

//Aside
aside.author {
    text-align: center;
    margin-top: 30px;
    @extend .display-flex;
    flex-direction: column;
    &__col {
        @extend .flex;
    }
}

.author-info {
    &__title {
        font-size: 20px;
        color: #000;
    }
    &__name {
        font-size: 12px;
        color: $pink;
        font-family: Arial;
    }
}

.author-photo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px auto;
    @extend .main-border;
    &__img {
        width: 100%;
        min-width: 46px;
        min-height: 46px;
    }
}
.author-links {
    @extend .display-flex;
    flex-direction: column;
    &__item {
        margin-top: 15px;
        color: $socialsColor;
        font-size: 17px;
        &:hover {
            transition: color .2s ease-in;
            color: $pink;
        }
    }
}

// Categorys and Archive
.wrap-aside {
    @extend .display-flex;
    flex-direction: column;
}

.aside-right {
    background: #fff;
    padding: 45px 30px;
    @extend .main-border;
    // flex-basis: 100%;
    margin: 0 0 30px 30px;
    &__title {
        text-align: center;
        color: #000;
        font-size: 20px;
        margin-bottom: 35px;
    }
}

.wrap-list {
    font-family: Arial;
    font-size: 13px;
    &__btn {
        color: #000;
        display: flex;
        cursor: pointer;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .fa {
        font-size: 18px;
        margin-right: 10px;
    }
}
.list {
    &__item {
        margin-top: 10px;
        display: flex;
        &__link {
            color: $pink;
            border-bottom: 1px solid rgba(230, 96, 139, 0.6);
            transition: all .2s ease-out;
            white-space: nowrap;
            max-width: 184px;
            overflow: hidden;
            &:hover {
                border-bottom-color: transparent;
            }
        }
        .fa {
            margin-left: 5px;
            margin-right: 10px;
            color: #c2c2c2;
        }
    }
}

//CANTACT
.contact {
    margin-top: 55px;
    @extend .display-flex;
    justify-content: space-between;
    &__col {
        @extend .flex;
        flex-basis: 50%;
        // margin: 0 17px;
    }
}
//CONTACT --> FORM
.contact-form {
    padding: 40px 32px;
    max-width: 565px;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    margin-bottom: 30px;
    &__title {
        @extend .title-text;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 14px;
        color: #636060;
        font-family: Arial;
        margin-bottom: 28px;
    }
    &__textarea {
        @extend .field;
        width: 100%;
        height: 240px;
        resize: none;
        margin-bottom: 20px;
    }
    &__submit {
        @extend .link-button;
        display: block;
        margin: 0 0;
    }
}

.block-input {
    margin-bottom: 20px;
    &__input {
        @extend .field;
        margin-right: 3%;
    }
    &__error {
        font-size: 14px;
        font-family: Arial;
        font-style: italic;
        color: #c0c0c0;
        transition: color .2s linear;
    }
    &:hover {
        .block-input__error {
            color: $orange;
        }
    }
}

//CONTACT --> POSTS
.wrap-posts {
    @extend .display-flex;
    justify-content: flex-end;
}

.post {
    max-width: 265px;
    padding: 5.4%;
    background: #fff;
    box-sizing: border-box;
    margin-left: 34px;
    margin-bottom: 30px;
    @extend .flex;
    flex-basis: 40%;
    &__title {
        @extend .title-text;
        margin-bottom: 17px;
        &__link {
            @extend .header-title-hover;
        }
    }
    &__img {
        width: 100%;
        @extend .img-border;
    }
    &__text {
        margin-top: 15px;
        font-size: 20px;
    }
}

.subscribe-form {
    @extend .display-flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    margin-left: 34px;
    &__logo {
        width: 165px;
        height: 20px;
        margin: 0 auto 13px;
    }
    &__title {
        @extend .title-text;
        margin-bottom: 32px;
    }
    &__input {
        @extend .field;
        margin: 0 auto 22px;
        text-align: center;
    }
    &__submit {
        @extend .link-button;
    }
}

//FOOTER ---> BOTTOM
.bottom {
    height: 140px;
    background: #202020;
}

.footer {
    @extend .container, .display-flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    &__col {
        @extend .flex;
        flex-basis: (100% / 3);
    }

    .wrap-logo {
        &__logo {
            fill: white;
        }
    }
}

.copyright {
    text-align: right;
    color: #fff;
    font-size: 12px;
}

@import "media"
