@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400&subset=cyrillic,latin-ext");
body, html {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

menu, ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

.container, .header, .contant, .footer {
  max-width: 1165px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto; }

.display-flex, .header, .nav, .menu, .works, .works-item-top, .works-item-bottom, .about, .info, .blog, .article, .article-desc, .article-info, aside.author, .author-links, .wrap-aside, .contact, .wrap-posts, .subscribe-form, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.flex, .header__col, .works__item, .blog__col, .article__col, .article-info__col, aside.author__col, .contact__col, .post, .footer__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.lh, .info__title, .info__text, .article-info-description {
  line-height: 150%; }

.title-text, .info__title, .article-contant__title, .contact-form__title, .post__title, .subscribe-form__title {
  font-size: 28px;
  color: #000; }

.link-button, .info__btn, .contact-form__submit, .subscribe-form__submit {
  width: 195px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background: #202020;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 100;
  letter-spacing: 1px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
  border-color: #202020; }
  .link-button:hover, .info__btn:hover, .contact-form__submit:hover, .subscribe-form__submit:hover {
    letter-spacing: 2px; }

.main-border, .about, .article, .author-photo, .aside-right {
  border: 1px solid #d6d6d6;
  box-sizing: border-box; }

.img-border, .works__item__link, .article-info-photo__img, .post__img {
  border: 5px solid #f0f0f0;
  box-sizing: border-box; }

.field, .contact-form__textarea, .block-input__input, .subscribe-form__input {
  background: #f2f2f2;
  border: 1px solid #d6d6d6;
  height: 45px;
  width: 100%;
  max-width: 320px;
  padding: 0px 30px;
  outline: none;
  font-family: Arial;
  font-size: 14px;
  line-height: 45px;
  box-sizing: border-box;
  -webkit-transition: border .4s ease-in-out;
  transition: border .4s ease-in-out; }
  .field:hover, .contact-form__textarea:hover, .block-input__input:hover, .subscribe-form__input:hover, .field:focus, .contact-form__textarea:focus, .block-input__input:focus, .subscribe-form__input:focus {
    border-color: #9c9c9c; }

.header-title-hover, .article-contant__title__link, .post__title__link {
  -webkit-transition: all .1s linear;
  transition: all .1s linear; }
  .header-title-hover:hover, .article-contant__title__link:hover, .post__title__link:hover {
    color: #e6618c; }

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background: url(../../images/main_background.png) no-repeat center top 0/cover #dededc; }

.top {
  height: 140px;
  background: #fff; }

.header {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__col {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }

.nav__item {
  width: 20px;
  height: 20px;
  display: block;
  font-size: 23px;
  margin-left: 17px;
  color: #a0a1a5; }
  .nav__item:first-child {
    margin: 0 0; }
  .nav__item:hover {
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
    color: #e6618c; }

.wrap-logo {
  text-align: center; }
  .wrap-logo__logo {
    width: 200px;
    height: 25px;
    fill: black; }

.menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .menu__item {
    font-size: 18px;
    margin-right: 17px; }
    .menu__item:last-child {
      margin: 0 0; }
  .menu .menu-item__link {
    color: #000; }
    .menu .menu-item__link:hover {
      -webkit-transition: color .2s ease-in;
      transition: color .2s ease-in;
      color: #e6618c; }

.works {
  margin-top: 58px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .works__item {
    max-width: 265px;
    max-height: 265px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 195px;
        flex-basis: 195px;
    margin: 0 46px 34px 0;
    position: relative;
    overflow: hidden; }
    .works__item:nth-child(4n + 4) {
      margin-right: 0; }
    .works__item__link {
      position: relative; }
    .works__item img {
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      -webkit-transition: -webkit-filter .3s ease;
      transition: -webkit-filter .3s ease;
      transition: filter .3s ease;
      transition: filter .3s ease, -webkit-filter .3s ease; }
    .works__item:hover .works-item-top, .works__item:hover .works-item-bottom {
      top: 0;
      bottom: inherit;
      -webkit-transform: scale(1);
              transform: scale(1); }
    .works__item:hover .works-item-bottom {
      bottom: 0;
      top: inherit;
      -webkit-transform: scale(1);
              transform: scale(1); }
    .works__item:hover img {
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }

.works-item-top, .works-item-bottom {
  position: absolute;
  left: 0;
  top: -60px;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 2;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  font-family: Arial;
  overflow: hidden;
  max-height: 60px;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out; }

.works-block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .works-block-info__title, .works-block-info__month {
    font-size: 14px;
    font-weight: bold; }
  .works-block-info__text, .works-block-info__date {
    font-size: 13px; }

.works-item-bottom {
  top: inherit;
  bottom: -60px;
  background: #fff;
  color: #9f9d9b;
  font-size: 13px;
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .works-item-bottom__like, .works-item-bottom__messsage {
    margin-right: 15px; }
  .works-item-bottom .fa {
    color: #e6618c;
    margin-right: 4px; }
  .works-item-bottom__zoom {
    cursor: pointer;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    text-align: right;
    font-size: 14px; }
    .works-item-bottom__zoom .fa {
      color: #000;
      margin-right: 0; }
      .works-item-bottom__zoom .fa:hover {
        color: #e6618c; }

.about {
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; }

.info {
  width: 100%;
  max-width: 590px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  color: #000;
  padding: 74px 20px; }
  .info__text {
    margin: 35px 0 45px;
    font-family: Arial; }

.blog {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px; }
  .blog__col {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
    .blog__col--first {
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%; }

.article {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  padding: 50px 30px;
  margin-bottom: 28px; }
  .article__col {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%; }
    .article__col--first {
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%;
      max-width: 660px; }

.article-contant__title {
  margin-bottom: 25px; }

.article-desc {
  font-size: 14px;
  font-family: Arial;
  color: #989b9f;
  margin-bottom: 20px; }
  .article-desc__time {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5%;
            flex: 1 1 5%;
    text-align: right;
    opacity: 1;
    display: block;
    visibility: visible; }

.article-info-photo {
  margin-right: 30px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }
  .article-info-photo__img {
    width: 100%;
    max-width: 230px;
    max-height: 230px; }
  .article-info-photo__name {
    display: block;
    font-family: Arial;
    font-size: 12px;
    margin-top: 15px;
    color: #6c6e72; }

.article-info-description {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  font-family: Arial;
  font-size: 14px; }

aside.author {
  text-align: center;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.author-info__title {
  font-size: 20px;
  color: #000; }

.author-info__name {
  font-size: 12px;
  color: #e6618c;
  font-family: Arial; }

.author-photo {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin: 15px auto; }
  .author-photo__img {
    width: 100%;
    min-width: 46px;
    min-height: 46px; }

.author-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .author-links__item {
    margin-top: 15px;
    color: #a0a1a5;
    font-size: 17px; }
    .author-links__item:hover {
      -webkit-transition: color .2s ease-in;
      transition: color .2s ease-in;
      color: #e6618c; }

.wrap-aside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.aside-right {
  background: #fff;
  padding: 45px 30px;
  margin: 0 0 30px 30px; }
  .aside-right__title {
    text-align: center;
    color: #000;
    font-size: 20px;
    margin-bottom: 35px; }

.wrap-list {
  font-family: Arial;
  font-size: 13px; }
  .wrap-list__btn {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    line-height: 20px;
    margin-bottom: 10px; }
  .wrap-list .fa {
    font-size: 18px;
    margin-right: 10px; }

.list__item {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .list__item__link {
    color: #e6618c;
    border-bottom: 1px solid rgba(230, 96, 139, 0.6);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    white-space: nowrap;
    max-width: 184px;
    overflow: hidden; }
    .list__item__link:hover {
      border-bottom-color: transparent; }
  .list__item .fa {
    margin-left: 5px;
    margin-right: 10px;
    color: #c2c2c2; }

.contact {
  margin-top: 55px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }

.contact-form {
  padding: 40px 32px;
  max-width: 565px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 30px; }
  .contact-form__title {
    margin-bottom: 25px; }
  .contact-form__text {
    font-size: 14px;
    color: #636060;
    font-family: Arial;
    margin-bottom: 28px; }
  .contact-form__textarea {
    width: 100%;
    height: 240px;
    resize: none;
    margin-bottom: 20px; }
  .contact-form__submit {
    display: block;
    margin: 0 0; }

.block-input {
  margin-bottom: 20px; }
  .block-input__input {
    margin-right: 3%; }
  .block-input__error {
    font-size: 14px;
    font-family: Arial;
    font-style: italic;
    color: #c0c0c0;
    -webkit-transition: color .2s linear;
    transition: color .2s linear; }
  .block-input:hover .block-input__error {
    color: #f2ba59; }

.wrap-posts {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.post {
  max-width: 265px;
  padding: 5.4%;
  background: #fff;
  box-sizing: border-box;
  margin-left: 34px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%; }
  .post__title {
    margin-bottom: 17px; }
  .post__img {
    width: 100%; }
  .post__text {
    margin-top: 15px;
    font-size: 20px; }

.subscribe-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  margin-left: 34px; }
  .subscribe-form__logo {
    width: 165px;
    height: 20px;
    margin: 0 auto 13px; }
  .subscribe-form__title {
    margin-bottom: 32px; }
  .subscribe-form__input {
    margin: 0 auto 22px;
    text-align: center; }

.bottom {
  height: 140px;
  background: #202020; }

.footer {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer__col {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
  .footer .wrap-logo__logo {
    fill: white; }

.copyright {
  text-align: right;
  color: #fff;
  font-size: 12px; }

@media screen and (max-width: 992px) {
  .works__item {
    margin: 0 26px 24px 0;
    -ms-flex-preferred-size: 18.18182%;
        flex-basis: 18.18182%; } }

@media screen and (max-width: 768px) {
  .wrap-logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .nav {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
  .works {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .works__item {
      margin: 0 26px 24px 0;
      -ms-flex-preferred-size: 44.4%;
          flex-basis: 44.4%; }
      .works__item:nth-child(2n + 2) {
        margin-right: 0; }
  .article-contant__title {
    text-align: center; }
  .article__col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .article-desc {
    text-align: center; }
    .article-desc__time {
      display: none;
      opacity: 0;
      visibility: hidden; }
  .article-info-photo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px; }
  aside.author {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    aside.author__col {
      display: block;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%; }
  .author-photo {
    margin: 0 20px; }
  .author-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
    .author-links__item {
      margin: 0 5%; }
  .wrap-aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .aside-right {
    margin: 0 auto 30px;
    max-width: 260px;
    min-width: 260px;
    width: 100%; }
  .contact__col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .contact-form {
    max-width: inherit; }
  .wrap-posts {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .post {
    margin-left: 15px; }
    .post:first-child {
      margin-left: 0; }
  .subscribe-form {
    margin-left: 0; } }

@media screen and (max-width: 480px) {
  .header__col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .works__item {
    margin: 0 0 24px 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .author-links {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .copyright {
    text-align: center; } }
